{% extends "base.html" %}
{% load filter %}

{% block content %}
    <div class="container py-4">
    <div class="row d-flex flex-row justify-content-between">
        <h2>{{ projeto.nome }}</h2>
        <a href="{% url 'editar_projeto' projeto.pk %}" class="btn btn-success mb-4">Editar Projeto</a>
    </div>
        <p>Gerente: {{ projeto.gerente.nome }}</p>
        <p>{{ projeto.descricao }}</p>
        <p>De {{ projeto.data_inicio }} à {{ projeto.data_fim }}</p>

        <div class="content-section">
            <h4>Stakeholders</h4>
            {% if projeto.stakeholders.all|length > 0 %}
            <ul id="stakeholderList" class="list-group mb-3">
                {% for stakeholder in projeto.stakeholders.all %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{stakeholder.nome}}
                    <span class="btn-remove" onclick="removeStakeholder(this);">&#x2716;</span>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <button class="btn btn-primary" onclick="addStakeholder();">Adicionar Stakeholder</button>
        </div>

        <div class="content-section mt-4">
            <h4>Etapas do Projeto</h4>
            <div>
                <button class="btn btn-primary mb-2" onclick="toggleCollapse('collapseStepContainer');">Ver/Ocultar Etapas</button>
                <div id="collapseStepContainer" class="collapse">
                    <div id="stepsContainer" class="list-group">
                        <!-- Etapas pré-cadastradas -->
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            Análise de Requisitos
                            <button class="btn btn-danger btn-sm" onclick="removeStep(this);">Remover</button>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            Design de Interface
                            <button class="btn btn-danger btn-sm" onclick="removeStep(this);">Remover</button>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            Implementação de Código
                            <button class="btn btn-danger btn-sm" onclick="removeStep(this);">Remover</button>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            Testes e Validação
                            <button class="btn btn-danger btn-sm" onclick="removeStep(this);">Remover</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary mt-3" onclick="addStep();">Adicionar Etapa</button>
        </div>
    </div>

    <!-- Bootstrap JS CDN e JavaScript para funcionalidades interativas -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function removeStakeholder(element) {
            element.parentElement.remove();
        }

        function addStakeholder() {
            var stakeholderName = prompt("Nome do novo Stakeholder:");
            if (stakeholderName) {
                var list = document.getElementById("stakeholderList");
                var li = document.createElement("li");
                li.className = "list-group-item d-flex justify-content-between align-items-center";
                li.innerHTML = stakeholderName + '<span class="btn-remove" onclick="removeStakeholder(this);">&#x2716;</span>';
                list.appendChild(li);
            }
        }

        function addStep() {
            var stepName = prompt("Nome da nova etapa:");
            if (stepName) {
                var stepsContainer = document.getElementById("stepsContainer");
                var stepItem = document.createElement("div");
                stepItem.className = "list-group-item d-flex justify-content-between align-items-center";
                stepItem.innerHTML = stepName + '<button class="btn btn-danger btn-sm" onclick="removeStep(this);">Remover</button>';
                stepsContainer.appendChild(stepItem);
            }
        }

        function removeStep(button) {
            button.parentElement.remove();
        }

        function toggleCollapse(collapseId) {
            var collapseElement = document.getElementById(collapseId);
            var bsCollapse = new bootstrap.Collapse(collapseElement, {
                toggle: true
            });
        }
    </script>
{% endblock %}