{% load static %}
{% load filter %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal Colaborativo de Gestão de Projetos</title>
  <!-- Import Bootstrap CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'chosen/chosen.css' %}">
</head>

<body>
  {% block nav %}
  {% include  'components/nav.html' %}
  {% endblock %}

  {% block errors %}{% endblock %}
  {% block content %}{% endblock %}

  {% block footer %}
  {% include  'components/footer.html' %}
  {% endblock %}
  {% block scripts %}
  <!-- Import Bootstrap JS -->
  {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> {% endcomment %}
  
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
  {% endblock %}
  {% block custom_scripts %}
  {% endblock %}
</body>

</html>