{% extends "base.html" %}

{% block content %}
<div class="container w-100 d-flex-centered">
  <ul>
    <h2>Projetos</h2>
    <a href="{% url 'novo_projeto' %}">Criar projeto</a>
    {% for projeto in projetos %}
    <li> <a href="#"">{{ projeto.nome }}</a> </li>
    {% endfor %}
  </ul>
  <ul>
    <h2>Interações</h2>
    <a href="{% url 'nova_interacao' %}">Criar Interação</a>
    {% for interacao in interacoes %}
    <li> <a href="{% url 'responder_interacao' interacao.id %}">{{ interacao.nome }}</a> </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}