{% extends "base.html" %}
{% load static %}
{% block nav %}
{% endblock %}
{% block content %}

    <div class="container login-container">
        <div class="container" style="width: 40%;margin: 0;">
            <img style="width:100%" src="{% static 'logo.png' %}" alt="" srcset="">
        </div>
        <form class="login-form" method="post">
            {% csrf_token %}
            <h4 class="mb-3 text-center">Login</h4>
            <!-- Campo de CPF -->
            <div class="mb-3">
                <label for="{{ form.username.id }}" class="form-label">{{ form.username.label }}</label>
                <input type="text" class="form-control" id="{{ form.username.id }}" name="{{ form.username.name }}" placeholder="Digite seu usuário" required>
            </div>
            <!-- Campo de senha -->
            <div class="mb-3">
                <label for="{{ form.password.id }}" class="form-label">Senha</label>
                <input type="password" class="form-control" id="{{ form.password.id }}" name="{{ form.password.name }}" placeholder="Digite sua senha" required>
            </div>
            <!-- Botão de enviar -->
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
            <!-- Links adicionais -->
            <div class="mt-3 text-center">
                <a href="#">Esqueceu a senha?</a>
            </div>
        </form>
    </div>

    <!-- Inclusão do JS do Bootstrap e jQuery via CDN -->
    
    <script>
        $(document).ready(function(){
            $('#cpf').mask('000.000.000-00', {reverse: true});
        });
    </script>

{% endblock %}
